body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004d80; /* Azul escuro */
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: #ffcc00; /* Dourado */
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #004d80; /* Azul escuro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1em 0;
    margin-top: 20px;
}